@use '../default/base';

.rocket {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 52px;
    width: 52px;
    padding: 7px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: .2s;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    @include base.style-main_transparent_click;
    &_show {
        opacity: 1;
        transform: scale(1);
    }
    & > svg {
        transform: rotate(-90deg);
    }
}